@media only screen and (min-device-width : 200px) and (max-device-width : 575px){
	.xs,
	.xs-0,
	.xs-1,
	.xs-2,
	.xs-3,
	.xs-4,
	.xs-5,
	.xs-6,
	.xs-7,
	.xs-8,
	.xs-9,
	.xs-10,
	.xs-11,
	.xs-12.
	.xs-13,
	.xs-14,
	.xs-15,
	.xs-16,
	.xs-17,
	.xs-18,
	.xs-19,
	.xs-20,
	.xs-21,
	.xs-22,
	.xs-23,
	.xs-24{
	  box-sizing: border-box;
	  -ms-flex: 0 0 auto;
	  -webkit-box-flex: 0;
	  flex: 0 0 auto;
	}

	.xs {
	  -webkit-flex-grow: 1;
	  -ms-flex-positive: 1;
	  -webkit-box-flex: 1;
	  flex-grow: 1;
	  -ms-flex-preferred-size: 0;
	  flex-basis: 0;
	  max-width: var(--col-24);
	}
	
	.xs-0 {
	  -ms-flex-preferred-size: var(--col-0);
	  flex-basis:  var(--col-0);
	  max-width:  var(--col-0);
	}

	.xs-1 {
	  -ms-flex-preferred-size: var(--col-1);
	  flex-basis:  var(--col-1);
	  max-width:  var(--col-1);
	}

	.xs-2 {
	  -ms-flex-preferred-size: var(--col-2);
	  flex-basis: var(--col-2);
	  max-width: var(--col-2);
	}

	.xs-3 {
	  -ms-flex-preferred-size: var(--col-3);
	  flex-basis: var(--col-3);
	  max-width: var(--col-3);
	}

	.xs-4 {
	  -ms-flex-preferred-size: var(--col-4);
	  flex-basis: var(--col-4);
	  max-width: var(--col-4);
	}

	.xs-5 {
	  -ms-flex-preferred-size: var(--col-5);
	  flex-basis: var(--col-5);
	  max-width: var(--col-5);
	}

	.xs-6 {
	  -ms-flex-preferred-size: var(--col-6);
	  flex-basis: var(--col-6);
	  max-width: var(--col-6);
	}

	.xs-7 {
	  -ms-flex-preferred-size: var(--col-7);
	  flex-basis: var(--col-7);
	  max-width: var(--col-7);
	}

	.xs-8 {
	  -ms-flex-preferred-size: var(--col-8);
	  flex-basis: var(--col-8);
	  max-width: var(--col-8);
	}

	.xs-9 {
	  -ms-flex-preferred-size: var(--col-9);
	  flex-basis: var(--col-9);
	  max-width: var(--col-9);
	}

	.xs-10 {
	  -ms-flex-preferred-size: var(--col-10);
	  flex-basis: var(--col-10);
	  max-width: var(--col-10);
	}

	.xs-11 {
	  -ms-flex-preferred-size: var(--col-11);
	  flex-basis: var(--col-11);
	  max-width: var(--col-11);
	}

	.xs-12 {
	  -ms-flex-preferred-size: var(--col-12);
	  flex-basis: var(--col-12);
	  max-width: var(--col-12);
	}

	.xs-13 {
	  -ms-flex-preferred-size: var(--col-13);
	  flex-basis: var(--col-13);
	  max-width: var(--col-13);
	}

	.xs-14 {
	  -ms-flex-preferred-size: var(--col-14);
	  flex-basis: var(--col-14);
	  max-width: var(--col-14);
	}

	.xs-15 {
	  -ms-flex-preferred-size: var(--col-15);
	  flex-basis: var(--col-15);
	  max-width: var(--col-15);
	}

	.xs-16 {
	  -ms-flex-preferred-size: var(--col-16);
	  flex-basis: var(--col-16);
	  max-width: var(--col-16);
	}

	.xs-17 {
	  -ms-flex-preferred-size: var(--col-17);
	  flex-basis: var(--col-17);
	  max-width: var(--col-17);
	}

	.xs-18 {
	  -ms-flex-preferred-size: var(--col-18);
	  flex-basis: var(--col-18);
	  max-width: var(--col-18);
	}

	.xs-19 {
	  -ms-flex-preferred-size: var(--col-19);
	  flex-basis: var(--col-19);
	  max-width: var(--col-19);
	}

	.xs-20 {
	  -ms-flex-preferred-size: var(--col-20);
	  flex-basis: var(--col-20);
	  max-width: var(--col-20);
	}

	.xs-21 {
	  -ms-flex-preferred-size: var(--col-21);
	  flex-basis: var(--col-21);
	  max-width: var(--col-21);
	}

	.xs-22 {
	  -ms-flex-preferred-size: var(--col-22);
	  flex-basis: var(--col-22);
	  max-width: var(--col-22);
	}

	.xs-23 {
	  -ms-flex-preferred-size: var(--col-23);
	  flex-basis: var(--col-23);
	  max-width: var(--col-23);
	}

	.xs-24 {
	  -ms-flex-preferred-size: var(--col-24);
	  flex-basis: var(--col-24);
	  max-width: var(--col-24);
	}
}