@media only screen and (min-device-width : 1200px) and (max-device-width : 1399px) {
	.xl,
	.xl-0,
	.xl-1,
	.xl-2,
	.xl-3,
	.xl-4,
	.xl-5,
	.xl-6,
	.xl-7,
	.xl-8,
	.xl-9,
	.xl-10,
	.xl-11,
	.xl-12.
	.xl-13,
	.xl-14,
	.xl-15,
	.xl-16,
	.xl-17,
	.xl-18,
	.xl-19,
	.xl-20,
	.xl-21,
	.xl-22,
	.xl-23,
	.xl-24{
	  box-sizing: border-box;
	  -ms-flex: 0 0 auto;
	  -webkit-box-flex: 0;
	  flex: 0 0 auto;
	}

	.xl {
	  -webkit-flex-grow: 1;
	  -ms-flex-positive: 1;
	  -webkit-box-flex: 1;
	  flex-grow: 1;
	  -ms-flex-preferred-size: 0;
	  flex-basis: 0;
	  max-width: var(--col-24);
	}

	.xl-0 {
	  -ms-flex-preferred-size: var(--col-0);
	  flex-basis:  var(--col-0);
	  max-width:  var(--col-0);
	}
	
	.xl-1 {
	  -ms-flex-preferred-size: var(--col-1);
	  flex-basis:  var(--col-1);
	  max-width:  var(--col-1);
	}

	.xl-2 {
	  -ms-flex-preferred-size: var(--col-2);
	  flex-basis: var(--col-2);
	  max-width: var(--col-2);
	}

	.xl-3 {
	  -ms-flex-preferred-size: var(--col-3);
	  flex-basis: var(--col-3);
	  max-width: var(--col-3);
	}

	.xl-4 {
	  -ms-flex-preferred-size: var(--col-4);
	  flex-basis: var(--col-4);
	  max-width: var(--col-4);
	}

	.xl-5 {
	  -ms-flex-preferred-size: var(--col-5);
	  flex-basis: var(--col-5);
	  max-width: var(--col-5);
	}

	.xl-6 {
	  -ms-flex-preferred-size: var(--col-6);
	  flex-basis: var(--col-6);
	  max-width: var(--col-6);
	}

	.xl-7 {
	  -ms-flex-preferred-size: var(--col-7);
	  flex-basis: var(--col-7);
	  max-width: var(--col-7);
	}

	.xl-8 {
	  -ms-flex-preferred-size: var(--col-8);
	  flex-basis: var(--col-8);
	  max-width: var(--col-8);
	}

	.xl-9 {
	  -ms-flex-preferred-size: var(--col-9);
	  flex-basis: var(--col-9);
	  max-width: var(--col-9);
	}

	.xl-10 {
	  -ms-flex-preferred-size: var(--col-10);
	  flex-basis: var(--col-10);
	  max-width: var(--col-10);
	}

	.xl-11 {
	  -ms-flex-preferred-size: var(--col-11);
	  flex-basis: var(--col-11);
	  max-width: var(--col-11);
	}

	.xl-12 {
	  -ms-flex-preferred-size: var(--col-12);
	  flex-basis: var(--col-12);
	  max-width: var(--col-12);
	}

	.xl-13 {
	  -ms-flex-preferred-size: var(--col-13);
	  flex-basis: var(--col-13);
	  max-width: var(--col-13);
	}

	.xl-14 {
	  -ms-flex-preferred-size: var(--col-14);
	  flex-basis: var(--col-14);
	  max-width: var(--col-14);
	}

	.xl-15 {
	  -ms-flex-preferred-size: var(--col-15);
	  flex-basis: var(--col-15);
	  max-width: var(--col-15);
	}

	.xl-16 {
	  -ms-flex-preferred-size: var(--col-16);
	  flex-basis: var(--col-16);
	  max-width: var(--col-16);
	}

	.xl-17 {
	  -ms-flex-preferred-size: var(--col-17);
	  flex-basis: var(--col-17);
	  max-width: var(--col-17);
	}

	.xl-18 {
	  -ms-flex-preferred-size: var(--col-18);
	  flex-basis: var(--col-18);
	  max-width: var(--col-18);
	}

	.xl-19 {
	  -ms-flex-preferred-size: var(--col-19);
	  flex-basis: var(--col-19);
	  max-width: var(--col-19);
	}

	.xl-20 {
	  -ms-flex-preferred-size: var(--col-20);
	  flex-basis: var(--col-20);
	  max-width: var(--col-20);
	}

	.xl-21 {
	  -ms-flex-preferred-size: var(--col-21);
	  flex-basis: var(--col-21);
	  max-width: var(--col-21);
	}

	.xl-22 {
	  -ms-flex-preferred-size: var(--col-22);
	  flex-basis: var(--col-22);
	  max-width: var(--col-22);
	}

	.xl-23 {
	  -ms-flex-preferred-size: var(--col-23);
	  flex-basis: var(--col-23);
	  max-width: var(--col-23);
	}

	.xl-24 {
	  -ms-flex-preferred-size: var(--col-24);
	  flex-basis: var(--col-24);
	  max-width: var(--col-24);
	}
}