/* Large Devices, Wide Screens */
@media (min-width: 993px) {
    
/* COLUMN SETUP */
    
    .rw .cl.l1 {
        width: var(--col-1);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l2 {
        width: var(--col-2);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l3 {
        width: var(--col-3);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l4 {
        width: var(--col-4);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l5 {
        width: var(--col-5);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l6 {
        width: var(--col-6);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l7 {
        width: var(--col-7);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l8 {
        width: var(--col-8);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l9 {
        width: var(--col-9);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l10 {
        width: var(--col-10);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l11 {
        width: var(--col-11);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l12 {
        width: var(--col-12);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l13 {
        width: var(--col-13);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l14 {
        width: var(--col-14);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l15 {
        width: var(--col-15);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l16 {
        width: var(--col-16);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l17 {
        width: var(--col-17);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l18 {
        width: var(--col-18);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l19 {
        width: var(--col-19);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l20 {
        width: var(--col-20);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l21 {
        width: var(--col-21);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l22 {
        width: var(--col-22);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l23 {
        width: var(--col-23);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.l24 {
        width: var(--col-24);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    
/* PUSH, PULL, OFFEST SETTINGS */
    
    .rw .cl.off-l1 {
      margin-left: var(--col-1);
    }
    .rw .cl.pull-l1 {
      right: var(--col-1);
    }
    .rw .cl.push-l1 {
      left: var(--col-1);
    }
    .rw .cl.off-l2 {
      margin-left: var(--col-2);
    }
    .rw .cl.pull-l2 {
      right: var(--col-2);
    }
    .rw .cl.push-l2 {
      left: var(--col-2);
    }
    .rw .cl.off-l3 {
      margin-left: var(--col-3);
    }
    .rw .cl.pull-l3 {
      right: var(--col-3);
    }
    .rw .cl.push-l3 {
      left: var(--col-3);
    }
    .rw .cl.off-l4 {
      margin-left: var(--col-4);
    }
    .rw .cl.pull-l4 {
      right: var(--col-4);
    }
    .rw .cl.push-l4 {
      left: var(--col-4);
    }
    .rw .cl.off-l5 {
      margin-left: var(--col-5);
    }
    .rw .cl.pull-l5 {
      right: var(--col-5);
    }
    .rw .cl.push-l5 {
      left: var(--col-5);
    }
    .rw .cl.off-l6 {
      margin-left: var(--col-6);
    }
    .rw .cl.pull-l6 {
      right: var(--col-6);
    }
    .rw .cl.push-l6 {
      left: var(--col-6);
    }
    .rw .cl.off-l7 {
      margin-left: var(--col-7);
    }
    .rw .cl.pull-l7 {
      right: var(--col-7);
    }
    .rw .cl.push-l7 {
      left: var(--col-7);
    }
    .rw .cl.off-l8 {
      margin-left: var(--col-8);
    }
    .rw .cl.pull-l8 {
      right: var(--col-8);
    }
    .rw .cl.push-l8 {
      left: var(--col-8);
    }
    .rw .cl.off-l9 {
      margin-left: var(--col-9);
    }
    .rw .cl.pull-l9 {
      right: var(--col-9);
    }
    .rw .cl.push-l9 {
      left: var(--col-9);
    }
    .rw .cl.off-l10 {
      margin-left: var(--col-10);
    }
    .rw .cl.pull-l10 {
      right: var(--col-10);
    }
    .rw .cl.push-l10 {
      left: var(--col-10);
    }
    .rw .cl.off-l11 {
      margin-left: var(--col-11);
    }
    .rw .cl.pull-l11 {
      right: var(--col-11);
    }
    .rw .cl.push-l11 {
      left: var(--col-11);
    }
    .rw .cl.off-l12 {
      margin-left: var(--col-12);
    }
    .rw .cl.pull-l12 {
      right: var(--col-12);
    }
    .rw .cl.push-l12 {
      left: var(--col-12);
    }
    .rw .cl.off-l13 {
      margin-left: var(--col-13);
    }
    .rw .cl.pull-l13 {
      right: var(--col-13);
    }
    .rw .cl.push-l13 {
      left: var(--col-13);
    }
    .rw .cl.off-l14 {
      margin-left: var(--col-14);
    }
    .rw .cl.pull-l14 {
      right: var(--col-14);
    }
    .rw .cl.push-l14 {
      left: var(--col-14);
    }
    .rw .cl.off-l15 {
      margin-left: var(--col-15);
    }
    .rw .cl.pull-l15 {
      right: var(--col-15);
    }
    .rw .cl.push-l15 {
      left: var(--col-15);
    }
    .rw .cl.off-l16 {
      margin-left: var(--col-16);
    }
    .rw .cl.pull-l16 {
      right: var(--col-16);
    }
    .rw .cl.push-l16 {
      left: var(--col-16);
    }
    .rw .cl.off-l17 {
      margin-left: var(--col-17);
    }
    .rw .cl.pull-l17 {
      right: var(--col-17);
    }
    .rw .cl.push-l17 {
      left: var(--col-17);
    }
    .rw .cl.off-l18 {
      margin-left: var(--col-18);
    }
    .rw .cl.pull-l18 {
      right: var(--col-18);
    }
    .rw .cl.push-l18 {
      left: var(--col-18);
    }
    .rw .cl.off-l19 {
      margin-left: var(--col-19);
    }
    .rw .cl.pull-l19 {
      right: var(--col-19);
    }
    .rw .cl.push-l19 {
      left: var(--col-19);
    }
    .rw .cl.off-l20 {
      margin-left: var(--col-20);
    }
    .rw .cl.pull-l20 {
      right: var(--col-20);
    }
    .rw .cl.push-l20 {
      left: var(--col-20);
    }
    .rw .cl.off-l21 {
      margin-left: var(--col-21);
    }
    .rw .cl.pull-l21 {
      right: var(--col-21);
    }
    .rw .cl.push-l21 {
      left: var(--col-21);
    }
    .rw .cl.off-l22 {
      margin-left: var(--col-22);
    }
    .rw .cl.pull-l22 {
      right: var(--col-22);
    }
    .rw .cl.push-l22 {
      left: var(--col-22);
    }
    .rw .cl.off-l23 {
      margin-left: var(--col-23);
    }
    .rw .cl.pull-l23 {
      right: var(--col-23);
    }
    .rw .cl.push-l23 {
      left: var(--col-23);
    }
    .rw .cl.off-l24 {
      margin-left: var(--col-24);
    }
    .rw .cl.pull-l24 {
      right: var(--col-24);
    }
    .rw .cl.push-l24 {
      left: var(--col-24);
    }
}