/* 1600+ Large Devices, Wide Screens */
@media only screen and (min-width : 1601px) {

/* COLUMN SETUP */
    
    .rw .cl.xxl1 {
        width: var(--col-1);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl2 {
        width: var(--col-2);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl3 {
        width: var(--col-3);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl4 {
        width: var(--col-4);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl5 {
        width: var(--col-5);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl6 {
        width: var(--col-6);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl7 {
        width: var(--col-7);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl8 {
        width: var(--col-8);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl9 {
        width: var(--col-9);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl10 {
        width: var(--col-10);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl11 {
        width: var(--col-11);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl12 {
        width: var(--col-12);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl13 {
        width: var(--col-13);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl14 {
        width: var(--col-14);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl15 {
        width: var(--col-15);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl16 {
        width: var(--col-16);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl17 {
        width: var(--col-17);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl18 {
        width: var(--col-18);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl19 {
        width: var(--col-19);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl20 {
        width: var(--col-20);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl21 {
        width: var(--col-21);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl22 {
        width: var(--col-22);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl23 {
        width: var(--col-23);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.xxl24 {
        width: var(--col-24);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    
/* PUSH, PULL, OFFEST SETTINGS */
    
    .rw .cl.off-xxl1 {
      margin-left: var(--col-1);
    }
    .rw .cl.pull-xxl1 {
      right: var(--col-1);
    }
    .rw .cl.push-xxl1 {
      left: var(--col-1);
    }
    .rw .cl.off-xxl2 {
      margin-left: var(--col-2);
    }
    .rw .cl.pull-xxl2 {
      right: var(--col-2);
    }
    .rw .cl.push-xxl2 {
      left: var(--col-2);
    }
    .rw .cl.off-xxl3 {
      margin-left: var(--col-3);
    }
    .rw .cl.pull-xxl3 {
      right: var(--col-3);
    }
    .rw .cl.push-xxl3 {
      left: var(--col-3);
    }
    .rw .cl.off-xxl4 {
      margin-left: var(--col-4);
    }
    .rw .cl.pull-xxl4 {
      right: var(--col-4);
    }
    .rw .cl.push-xxl4 {
      left: var(--col-4);
    }
    .rw .cl.off-xxl5 {
      margin-left: var(--col-5);
    }
    .rw .cl.pull-xxl5 {
      right: var(--col-5);
    }
    .rw .cl.push-xxl5 {
      left: var(--col-5);
    }
    .rw .cl.off-xxl6 {
      margin-left: var(--col-6);
    }
    .rw .cl.pull-xxl6 {
      right: var(--col-6);
    }
    .rw .cl.push-xxl6 {
      left: var(--col-6);
    }
    .rw .cl.off-xxl7 {
      margin-left: var(--col-7);
    }
    .rw .cl.pull-xxl7 {
      right: var(--col-7);
    }
    .rw .cl.push-xxl7 {
      left: var(--col-7);
    }
    .rw .cl.off-xxl8 {
      margin-left: var(--col-8);
    }
    .rw .cl.pull-xxl8 {
      right: var(--col-8);
    }
    .rw .cl.push-xxl8 {
      left: var(--col-8);
    }
    .rw .cl.off-xxl9 {
      margin-left: var(--col-9);
    }
    .rw .cl.pull-xxl9 {
      right: var(--col-9);
    }
    .rw .cl.push-xxl9 {
      left: var(--col-9);
    }
    .rw .cl.off-xxl10 {
      margin-left: var(--col-10);
    }
    .rw .cl.pull-xxl10 {
      right: var(--col-10);
    }
    .rw .cl.push-xxl10 {
      left: var(--col-10);
    }
    .rw .cl.off-xxl11 {
      margin-left: var(--col-11);
    }
    .rw .cl.pull-xxl11 {
      right: var(--col-11);
    }
    .rw .cl.push-xxl11 {
      left: var(--col-11);
    }
    .rw .cl.off-xxl12 {
      margin-left: var(--col-12);
    }
    .rw .cl.pull-xxl12 {
      right: var(--col-12);
    }
    .rw .cl.push-xxl12 {
      left: var(--col-12);
    }
    .rw .cl.off-xxl13 {
      margin-left: var(--col-13);
    }
    .rw .cl.pull-xxl13 {
      right: var(--col-13);
    }
    .rw .cl.push-xxl13 {
      left: var(--col-13);
    }
    .rw .cl.off-xxl14 {
      margin-left: var(--col-14);
    }
    .rw .cl.pull-xxl14 {
      right: var(--col-14);
    }
    .rw .cl.push-xxl14 {
      left: var(--col-14);
    }
    .rw .cl.off-xxl15 {
      margin-left: var(--col-15);
    }
    .rw .cl.pull-xxl15 {
      right: var(--col-15);
    }
    .rw .cl.push-xxl15 {
      left: var(--col-15);
    }
    .rw .cl.off-xxl16 {
      margin-left: var(--col-16);
    }
    .rw .cl.pull-xxl16 {
      right: var(--col-16);
    }
    .rw .cl.push-xxl16 {
      left: var(--col-16);
    }
    .rw .cl.off-xxl17 {
      margin-left: var(--col-17);
    }
    .rw .cl.pull-xxl17 {
      right: var(--col-17);
    }
    .rw .cl.push-xxl17 {
      left: var(--col-17);
    }
    .rw .cl.off-xxl18 {
      margin-left: var(--col-18);
    }
    .rw .cl.pull-xxl18 {
      right: var(--col-18);
    }
    .rw .cl.push-xxl18 {
      left: var(--col-18);
    }
    .rw .cl.off-xxl19 {
      margin-left: var(--col-19);
    }
    .rw .cl.pull-xxl19 {
      right: var(--col-19);
    }
    .rw .cl.push-xxl19 {
      left: var(--col-19);
    }
    .rw .cl.off-xxl20 {
      margin-left: var(--col-20);
    }
    .rw .cl.pull-xxl20 {
      right: var(--col-20);
    }
    .rw .cl.push-xxl20 {
      left: var(--col-20);
    }
    .rw .cl.off-xxl21 {
      margin-left: var(--col-21);
    }
    .rw .cl.pull-xxl21 {
      right: var(--col-21);
    }
    .rw .cl.push-xxl21 {
      left: var(--col-21);
    }
    .rw .cl.off-xxl22 {
      margin-left: var(--col-22);
    }
    .rw .cl.pull-xxl22 {
      right: var(--col-22);
    }
    .rw .cl.push-xxl22 {
      left: var(--col-22);
    }
    .rw .cl.off-xxl23 {
      margin-left: var(--col-23);
    }
    .rw .cl.pull-xxl23 {
      right: var(--col-23);
    }
    .rw .cl.push-xxl23 {
      left: var(--col-23);
    }
    .rw .cl.off-xxl24 {
      margin-left: var(--col-24);
    }
    .rw .cl.pull-xxl24 {
      right: var(--col-24);
    }
    .rw .cl.push-xxl24 {
      left: var(--col-24);
    }
}