/* Extra small devices (portrait phones, less than 480px) */
@media (min-width: 200px) {
  
/* COLUMN SETUP */
	
    .rw .cl.t1 {
        width: var(--col-1);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t2 {
        width: var(--col-2);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t3 {
        width: var(--col-3);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t4 {
        width: var(--col-4);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t5 {
        width: var(--col-5);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t6 {
        width: var(--col-6);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t7 {
        width: var(--col-7);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t8 {
        width: var(--col-8);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t9 {
        width: var(--col-9);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t10 {
        width: var(--col-10);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t11 {
        width: var(--col-11);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t12 {
        width: var(--col-12);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t13 {
        width: var(--col-13);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t14 {
        width: var(--col-14);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t15 {
        width: var(--col-15);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t16 {
        width: var(--col-16);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t17 {
        width: var(--col-17);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t18 {
        width: var(--col-18);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t19 {
        width: var(--col-19);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t20 {
        width: var(--col-20);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t21 {
        width: var(--col-21);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t22 {
        width: var(--col-22);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t23 {
        width: var(--col-23);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.t24 {
        width: var(--col-24);
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .rw .cl.off-t1 {
      margin-left: var(--col-1);
    }
    .rw .cl.pull-t1 {
      right: var(--col-1);
    }
    .rw .cl.push-t1 {
      left: var(--col-1);
    }
    .rw .cl.off-t2 {
      margin-left: var(--col-2);
    }
    .rw .cl.pull-t2 {
      right: var(--col-2);
    }
    .rw .cl.push-t2 {
      left: var(--col-2);
    }
    .rw .cl.off-t3 {
      margin-left: var(--col-3);
    }
    .rw .cl.pull-t3 {
      right: var(--col-3);
    }
    .rw .cl.push-t3 {
      left: var(--col-3);
    }
    .rw .cl.off-t4 {
      margin-left: var(--col-4);
    }
    .rw .cl.pull-t4 {
      right: var(--col-4);
    }
    .rw .cl.push-t4 {
      left: var(--col-4);
    }
    .rw .cl.off-t5 {
      margin-left: var(--col-5);
    }
    .rw .cl.pull-t5 {
      right: var(--col-5);
    }
    .rw .cl.push-t5 {
      left: var(--col-5);
    }
    .rw .cl.off-t6 {
      margin-left: var(--col-6);
    }
    .rw .cl.pull-t6 {
      right: var(--col-6);
    }
    .rw .cl.push-t6 {
      left: var(--col-6);
    }
    .rw .cl.off-t7 {
      margin-left: var(--col-7);
    }
    .rw .cl.pull-t7 {
      right: var(--col-7);
    }
    .rw .cl.push-t7 {
      left: var(--col-7);
    }
    .rw .cl.off-t8 {
      margin-left: var(--col-8);
    }
    .rw .cl.pull-t8 {
      right: var(--col-8);
    }
    .rw .cl.push-t8 {
      left: var(--col-8);
    }
    .rw .cl.off-t9 {
      margin-left: var(--col-9);
    }
    .rw .cl.pull-t9 {
      right: var(--col-9);
    }
    .rw .cl.push-t9 {
      left: var(--col-9);
    }
    .rw .cl.off-t10 {
      margin-left: var(--col-10);
    }
    .rw .cl.pull-t10 {
      right: var(--col-10);
    }
    .rw .cl.push-t10 {
      left: var(--col-10);
    }
    .rw .cl.off-t11 {
      margin-left: var(--col-11);
    }
    .rw .cl.pull-t11 {
      right: var(--col-11);
    }
    .rw .cl.push-t11 {
      left: var(--col-11);
    }
    .rw .cl.off-t12 {
      margin-left: var(--col-12);
    }
    .rw .cl.pull-t12 {
      right: var(--col-12);
    }
    .rw .cl.push-t12 {
      left: var(--col-12);
    }
    .rw .cl.off-t13 {
      margin-left: var(--col-13);
    }
    .rw .cl.pull-t13 {
      right: var(--col-13);
    }
    .rw .cl.push-t13 {
      left: var(--col-13);
    }
    .rw .cl.off-t14 {
      margin-left: var(--col-14);
    }
    .rw .cl.pull-t14 {
      right: var(--col-14);
    }
    .rw .cl.push-t14 {
      left: var(--col-14);
    }
    .rw .cl.off-t15 {
      margin-left: var(--col-15);
    }
    .rw .cl.pull-t15 {
      right: var(--col-15);
    }
    .rw .cl.push-t15 {
      left: var(--col-15);
    }
    .rw .cl.off-t16 {
      margin-left: var(--col-16);
    }
    .rw .cl.pull-t16 {
      right: var(--col-16);
    }
    .rw .cl.push-t16 {
      left: var(--col-16);
    }
    .rw .cl.off-t17 {
      margin-left: var(--col-17);
    }
    .rw .cl.pull-t17 {
      right: var(--col-17);
    }
    .rw .cl.push-t17 {
      left: var(--col-17);
    }
    .rw .cl.off-t18 {
      margin-left: var(--col-18);
    }
    .rw .cl.pull-t18 {
      right: var(--col-18);
    }
    .rw .cl.push-t18 {
      left: var(--col-18);
    }
    .rw .cl.off-t19 {
      margin-left: var(--col-19);
    }
    .rw .cl.pull-t19 {
      right: var(--col-19);
    }
    .rw .cl.push-t19 {
      left: var(--col-19);
    }
    .rw .cl.off-t20 {
      margin-left: var(--col-20);
    }
    .rw .cl.pull-t20 {
      right: var(--col-20);
    }
    .rw .cl.push-t20 {
      left: var(--col-20);
    }
    .rw .cl.off-t21 {
      margin-left: var(--col-21);
    }
    .rw .cl.pull-t21 {
      right: var(--col-21);
    }
    .rw .cl.push-t21 {
      left: var(--col-21);
    }
    .rw .cl.off-t22 {
      margin-left: var(--col-22);
    }
    .rw .cl.pull-t22 {
      right: var(--col-22);
    }
    .rw .cl.push-t22 {
      left: var(--col-22);
    }
    .rw .cl.off-t23 {
      margin-left: var(--col-23);
    }
    .rw .cl.pull-t23 {
      right: var(--col-23);
    }
    .rw .cl.push-t23 {
      left: var(--col-23);
    }
    .rw .cl.off-t24 {
      margin-left: var(--col-24);
    }
    .rw .cl.pull-t24 {
      right: var(--col-24);
    }
    .rw .cl.push-t24 {
      left: var(--col-24);
    }
}
