@charset "utf-8";
/* BEGIN PARADOX GRID SETUP */

@import 'includes/0-normalize.css';
@import 'includes/1-paradox-typography.css';
@import 'includes/1-paradox-utilities.css';
@import 'includes/2-paradox-xs-flex.css';
@import 'includes/3-paradox-sm-flex.css';
@import 'includes/4-paradox-md-flex.css';
@import 'includes/5-paradox-lg-flex.css';
@import 'includes/6-paradox-xl-flex.css';
@import 'includes/7-paradox-xxl-flex.css';

:root {
  --col-0: 0%;
  --col-1: 4.1666666667%;
  --col-2: 8.3333333333%;
  --col-3: 12.5%;
  --col-4: 16.6666666667%;
  --col-5: 20.8333333333%;
  --col-6: 25%;
  --col-7: 29.1666666667%;
  --col-8: 33.3333333333%;
  --col-9: 37.5%;
  --col-10: 41.6666666667%;
  --col-11: 45.8333333333%;
  --col-12: 50%;
  --col-13: 54.1666666667%;
  --col-14: 58.3333333333%;
  --col-15: 62.5%;
  --col-16: 66.6666666667%;
  --col-17: 70.8333333333%;
  --col-18: 75%;
  --col-19: 79.1666666667%;
  --col-20: 83.3333333333%;
  --col-21: 87.5%;
  --col-22: 91.6666666667%;
  --col-23: 95.8333333333%;
  --col-24: 100%;
}

html {
}
*, *:before, *:after {
	box-sizing: inherit;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/* BASE GRID ROW/COLUMN STRUCTURE */

.main-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.rw {
	box-sizing: border-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex: 0 1 auto;
	-webkit-box-flex: 0;
	flex: 0 1 auto;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

.rw.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.cl.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.as,
	.as-0,
	.as-1,
	.as-2,
	.as-3,
	.as-4,
	.as-5,
	.as-6,
	.as-7,
	.as-8,
	.as-9,
	.as-10,
	.as-11,
	.as-12.
	.as-13,
	.as-14,
	.as-15,
	.as-16,
	.as-17,
	.as-18,
	.as-19,
	.as-20,
	.as-21,
	.as-22,
	.as-23,
	.as-24{
	  box-sizing: border-box;
	  -ms-flex: 0 0 auto;
	  -webkit-box-flex: 0;
	  flex: 0 0 auto;
	}

	.as {
	  -webkit-flex-grow: 1;
	  -ms-flex-positive: 1;
	  -webkit-box-flex: 1;
	  flex-grow: 1;
	  -ms-flex-preferred-size: 0;
	  flex-basis: 0;
	  max-width: var(--col-24);
	}
	
	.as-0 {
	  -ms-flex-preferred-size: var(--col-0);
	  flex-basis:  var(--col-0);
	  max-width:  var(--col-0);
	}

	.as-1 {
	  -ms-flex-preferred-size: var(--col-1);
	  flex-basis:  var(--col-1);
	  max-width:  var(--col-1);
	}

	.as-2 {
	  -ms-flex-preferred-size: var(--col-2);
	  flex-basis: var(--col-2);
	  max-width: var(--col-2);
	}

	.as-3 {
	  -ms-flex-preferred-size: var(--col-3);
	  flex-basis: var(--col-3);
	  max-width: var(--col-3);
	}

	.as-4 {
	  -ms-flex-preferred-size: var(--col-4);
	  flex-basis: var(--col-4);
	  max-width: var(--col-4);
	}

	.as-5 {
	  -ms-flex-preferred-size: var(--col-5);
	  flex-basis: var(--col-5);
	  max-width: var(--col-5);
	}

	.as-6 {
	  -ms-flex-preferred-size: var(--col-6);
	  flex-basis: var(--col-6);
	  max-width: var(--col-6);
	}

	.as-7 {
	  -ms-flex-preferred-size: var(--col-7);
	  flex-basis: var(--col-7);
	  max-width: var(--col-7);
	}

	.as-8 {
	  -ms-flex-preferred-size: var(--col-8);
	  flex-basis: var(--col-8);
	  max-width: var(--col-8);
	}

	.as-9 {
	  -ms-flex-preferred-size: var(--col-9);
	  flex-basis: var(--col-9);
	  max-width: var(--col-9);
	}

	.as-10 {
	  -ms-flex-preferred-size: var(--col-10);
	  flex-basis: var(--col-10);
	  max-width: var(--col-10);
	}

	.as-11 {
	  -ms-flex-preferred-size: var(--col-11);
	  flex-basis: var(--col-11);
	  max-width: var(--col-11);
	}

	.as-12 {
	  -ms-flex-preferred-size: var(--col-12);
	  flex-basis: var(--col-12);
	  max-width: var(--col-12);
	}

	.as-13 {
	  -ms-flex-preferred-size: var(--col-13);
	  flex-basis: var(--col-13);
	  max-width: var(--col-13);
	}

	.as-14 {
	  -ms-flex-preferred-size: var(--col-14);
	  flex-basis: var(--col-14);
	  max-width: var(--col-14);
	}

	.as-15 {
	  -ms-flex-preferred-size: var(--col-15);
	  flex-basis: var(--col-15);
	  max-width: var(--col-15);
	}

	.as-16 {
	  -ms-flex-preferred-size: var(--col-16);
	  flex-basis: var(--col-16);
	  max-width: var(--col-16);
	}

	.as-17 {
	  -ms-flex-preferred-size: var(--col-17);
	  flex-basis: var(--col-17);
	  max-width: var(--col-17);
	}

	.as-18 {
	  -ms-flex-preferred-size: var(--col-18);
	  flex-basis: var(--col-18);
	  max-width: var(--col-18);
	}

	.as-19 {
	  -ms-flex-preferred-size: var(--col-19);
	  flex-basis: var(--col-19);
	  max-width: var(--col-19);
	}

	.as-20 {
	  -ms-flex-preferred-size: var(--col-20);
	  flex-basis: var(--col-20);
	  max-width: var(--col-20);
	}

	.as-21 {
	  -ms-flex-preferred-size: var(--col-21);
	  flex-basis: var(--col-21);
	  max-width: var(--col-21);
	}

	.as-22 {
	  -ms-flex-preferred-size: var(--col-22);
	  flex-basis: var(--col-22);
	  max-width: var(--col-22);
	}

	.as-23 {
	  -ms-flex-preferred-size: var(--col-23);
	  flex-basis: var(--col-23);
	  max-width: var(--col-23);
	}

	.as-24 {
	  -ms-flex-preferred-size: var(--col-24);
	  flex-basis: var(--col-24);
	  max-width: var(--col-24);
	}

/* @media only screen and (min-device-width : 200px) and (max-device-width : 575px){

}

@media only screen and (min-device-width : 576px) and (max-device-width : 767px) {

}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px) {

}

@media only screen and (min-device-width : 992px) and (max-device-width : 1199px) {

}

@media only screen and (min-device-width : 1200px) and (max-device-width : 1399px) {

}

@media only screen and (min-device-width : 1400px) {

} */
